<form class="{{cssClass}} vitruvium-sheet" autocomplete="off">
  <header class="vitruvium-header">
    <input
      class="vitruvium-title"
      type="text"
      name="name"
      value="{{item.name}}"
    />
  </header>

  <section class="vitruvium-card">
    <h2>Стоимость</h2>

    <div class="vitruvium-insp">
      <button
        type="button"
        class="vitruvium-smallbtn"
        data-action="cost-dec"
      >−</button>

      <span class="vitruvium-attrvalue">{{vitruvium.cost}}</span>

      <button
        type="button"
        class="vitruvium-smallbtn"
        data-action="cost-inc"
      >+</button>
    </div>

    <p class="hint">Стоимость списывается при применении способности.</p>
  </section>

  <section class="vitruvium-card">
    <h2>Описание</h2>
    <textarea
      name="system.description"
      rows="8"
    >{{vitruvium.description}}</textarea>
  </section>
</form>